[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Telegram UserBot
[access "refs/*"]
	owner = group user/Mr.Miss (keselekpermen69)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Mr.Miss (keselekpermen69)
	label-Verified = -1..+1 group user/Mr.Miss (keselekpermen69)
	push = group user/Mr.Miss (keselekpermen69)
	read = group user/Mr.Miss (keselekpermen69)
	rebase = group user/Mr.Miss (keselekpermen69)
	removeReviewer = group user/Mr.Miss (keselekpermen69)
	submit = group user/Mr.Miss (keselekpermen69)
[access "refs/heads/*"]
	create = group user/Mr.Miss (keselekpermen69)
	push = +force group user/Mr.Miss (keselekpermen69)
	pushMerge = group user/Mr.Miss (keselekpermen69)
	read = group user/Mr.Miss (keselekpermen69)
[access "refs/tags/*"]
	push = group user/Mr.Miss (keselekpermen69)
	push = +force group user/Mr.Miss (keselekpermen69)
